streamlit
langchain
langchain-core
langchain-community
langchain-openai
langchain-groq
langchain-huggingface
docling
python-pptx
yt-dlp
ffmpeg-python
faster-whisper
psycopg2-binary
pgvector
pydantic
pydantic-settings
python-dotenv
sqlalchemy
sentence-transformers
transformers
torch
Pillow
